@import 'variables.scss';
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.app {
  font-family: 'Rubik';
  width: 80vw;
  margin: auto;
}

.header-container {
  width: 80vw;
}

.header-content {
  display: flex;
  flex-flow: row;
}

.header-tag {
  text-decoration: none;
  display: flex;
  flex: 1;
  background-color: #fff;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition-duration: .5s;
  &:hover{
    cursor: pointer;
    transition-duration: .5s;
  }
}

.active-tag {
  background-color: magenta;
}

.coming-soon-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  font-size: 50px;
}

.body-container {
  background-color: magenta;
  margin: 15px auto;
  width: 60vw;
}

.project-container {
  margin: 5px;
}

.projects-header {
  text-align: center;
}
