@import 'variables.scss';
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

.app {
  font-family: 'Rubik';
  width: 80vw;
  margin: auto;
}

.header-container {
  width: 80vw;
  border-style: solid;
  border-width: 3px;
}

.header-content {
  display: flex;
  flex-flow: row;
}

.content-container {
  background-color: magenta;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.header-tag {
  border-width: 3px;
  border-color: red;
  border-style: solid;
  display: flex;
  flex: 1;
  background-color: #fff;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition-duration: .5s;
  &:hover{
    background-color: blue;
    cursor: pointer;
    transition-duration: .5s;
    color: #fff;
  }
}

.coming-soon-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  font-size: 50px;
}

.body-container {
  margin: 50px auto;
  width: 60vw;
}

.project-container {
  margin: 5px;
}
